body {
    font-size: 14px;
    font-family: monospace;
    margin: 0;
}
img { vertical-align: middle; /*margin-top: -2px;*/ margin-bottom: 2px; }
#content {
    max-width: 800px;
    margin: auto;
    padding: 10px;
    padding-bottom: 20px;
    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
    word-wrap: break-word;
}
#header {
    border-bottom: 1px solid #999;
    padding: 5px;
    height: 34px;
}
#header button, #header input {
    height: 100%;
}
